.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 14rem;
  min-height: 100vh;
}
.searchbox{
  width:500px;
  height:40px;
  border-radius: 45px;
  background-color: #101010;
  border-color: rgb(255, 151, 169);
  padding-left: 12px;
}


.topnav{
  position:absolute;
  padding-top: 4rem;
}
.icon{
  position: relative;
  top: 13px;
  width: 34px;
  right: 38px;
}